*{
     border-radius: 8px;
     border: none;

}


window {
        font-size: 18px;
	font-family: "Roboto Mono Medium";
	background-color: rgba(0, 9, 43, 0.9);
	color: white;
}

#entry{
     padding: 0.25em;
}

#entry:selected {
     background-color: #11111b;
     background: linear-gradient(90deg, #30d9ff, #00092b);

}

#text {
     color: #b0e5ff;
}

#text:selected {
     color: #000e30;
}

#input {
  background-color: rgba(0, 09, 43, 0.5);
  color: #b0e5ff;
  padding: 0.25em;
}
